# Asignación ejercicios taller 1

In [1]:
import pandas as pd

grupo_ml = pd.read_csv('grupo_intro_ml.csv', sep = '\t') 

grupo_ml.head()

,#,Cédula,Nombre,Email,Sede
0,1,1193092675,ALVAREZ CARRERO GERMAN JOSE,german.alvarez1@udea.edu.co,NaN
1,2,1152715251,AMAYA ESCOBAR LILLEY DANIELA,lilley.amaya1@udea.edu.co,NaN
2,3,1152204969,ARANGO JARAMILLO JUAN JOSE,juan.arangoj@udea.edu.co,NaN
3,4,1037657637,BOLIVAR HIGUITA JUAN PABLO,jpablo.bolivar@udea.edu.co,NaN
4,5,1146437759,BUITRAGO LORA VANESSA,vanessa.buitragol@udea.edu.co,NaN

In [5]:
grupo_ml.drop(['Sede'], axis = 1, inplace = True)

In [6]:
grupo_ml.head()

   #      Cédula                        Nombre                          Email
0  1  1193092675   ALVAREZ CARRERO GERMAN JOSE    german.alvarez1@udea.edu.co
1  2  1152715251  AMAYA ESCOBAR LILLEY DANIELA      lilley.amaya1@udea.edu.co
2  3  1152204969    ARANGO JARAMILLO JUAN JOSE       juan.arangoj@udea.edu.co
3  4  1037657637    BOLIVAR HIGUITA JUAN PABLO     jpablo.bolivar@udea.edu.co
4  5  1146437759         BUITRAGO LORA VANESSA  vanessa.buitragol@udea.edu.co

## Creación de una lista de ejercicios asignados sin repetición