<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/marco-canas/introducci-n-al-Machine-Learning/blob/main/classes/class_1/class_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
</table>

# Quiz 2 Python, Numpy, Pandas

## Punto 2 NumPy

Defina la función `matrizVandermonde()` que tenga como argumentos un array o vector $x = (x_{0}, x_{1}, \ldots, x_{m−1})$ y un entero positivo $d$ y que retorne la matriz $V = [v_{ij} ]_{m\times(d+1)}$ de tal manera que $v_{ij} = x_{i}^{j}$ para $0 \leq i \leq m − 1$ y $0 \leq j \leq d$.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
def matrizVandermonde(d, x):
  m = len(x)
  V = []
  for i in range(m):
    F = np.zeros(m)
    for j in range(0,d):
      F[i] = x[i]**(j)
      V.append(F[i]) 
  M = np.array(V).reshape(m,d)
  Mf = M.transpose()

  return Mf

In [ ]:
x = np.array([1, 2, 3,4, 5])
matrizVandermonde(5,x)

array([[  1.,   1.,   1.,   1.,   1.],
       [  1.,   2.,   3.,   4.,   5.],
       [  1.,   4.,   9.,  16.,  25.],
       [  1.,   8.,  27.,  64., 125.],
       [  1.,  16.,  81., 256., 625.]])

## Punto 3 Pandas

1. Con la matriz de Vandermonde obtenida para $d = 4$ y $x = (1,2,3,4,5)$ construya un DataFrame cuyas columndas sean denotadas con $C_{0}, C_{1}, C_{2}, C_{3}, C_{4}$ y cuyos indices sean las cadenas de caracteres $I_{1}, I_{2}, I_{3}, I_{4}, I_{5}$.

2. Agregue una columna con numbre `Suma`, que sea la suma de las columnas $C_{0}, C_{1}, C_{2}, \ldots, C_{d}$.

3. Filtre las filas de indice $I_{2}, I_{5}$.

In [ ]:
M1 = matrizVandermonde(5,np.array([1,2,3,4,5]))    #Nota = El algoritmo funciona para d-1, por esta razón se le debe sumar 1
M = M1.transpose()

In [ ]:
#Punto 1
DF1 = {
    "C0": pd.Series(M[0], index=["I1", "I2", "I3","I4","I5"]),
    "C1": pd.Series(M[1], index=["I1", "I2", "I3","I4","I5"]),
    "C2": pd.Series(M[2], index=["I1", "I2", "I3","I4","I5"]),
    "C3": pd.Series(M[3], index=["I1", "I2", "I3","I4","I5"]),
    "C4": pd.Series(M[4], index=["I1", "I2", "I3","I4","I5"])}

In [ ]:

from pandas.core.frame import DataFrame
DF= pd.DataFrame(DF1)
DF

     C0    C1    C2     C3     C4
I1  1.0   1.0   1.0    1.0    1.0
I2  1.0   2.0   3.0    4.0    5.0
I3  1.0   4.0   9.0   16.0   25.0
I4  1.0   8.0  27.0   64.0  125.0
I5  1.0  16.0  81.0  256.0  625.0

In [ ]:
#Punto 2

DF['suma'] = DF['C0'] + DF['C1'] + DF['C2'] + DF['C4'] + DF['C3']
DF

     C0    C1    C2     C3     C4   suma
I1  1.0   1.0   1.0    1.0    1.0    5.0
I2  1.0   2.0   3.0    4.0    5.0   15.0
I3  1.0   4.0   9.0   16.0   25.0   55.0
I4  1.0   8.0  27.0   64.0  125.0  225.0
I5  1.0  16.0  81.0  256.0  625.0  979.0

In [ ]:
#Punto 3
DF.loc[['I2', 'I5']]

     C0    C1    C2     C3     C4   suma
I2  1.0   2.0   3.0    4.0    5.0   15.0
I5  1.0  16.0  81.0  256.0  625.0  979.0

Felicitaciones. Muy buen trabajo. 
Calificación 5.0