<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/marco-canas/intro-Machine-Learning/blob/main/problems_bank/quiz_3/quiz_3_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
</table>

# Quiz 3_1

In [4]:
import seaborn as sns
tips = sns.load_dataset("tips")
tips_3_atributos = tips[['total_bill', 'sex', 'day', 'tip']]  
tips_3_atributos

     total_bill     sex   day   tip
0         16.99  Female   Sun  1.01
1         10.34    Male   Sun  1.66
2         21.01    Male   Sun  3.50
3         23.68    Male   Sun  3.31
4         24.59  Female   Sun  3.61
..          ...     ...   ...   ...
239       29.03    Male   Sat  5.92
240       27.18  Female   Sat  2.00
241       22.67    Male   Sat  2.00
242       17.82    Male   Sat  1.75
243       18.78  Female  Thur  3.00

[244 rows x 4 columns]

Considerando el DataFrame `tips_3_atributos` para una tarea de regresión en la que se pretende predecir la propina dada por un cliente como función de los atributos predictores de total de la cuenta (`total_bill`), sexo y día en que comió en el restaurante (`day`) realice las siguientes acciones de preprocesamiento de estos datos.

* Realizar una exploración tabular y gráfica de los datos utilizando los métodos. (Redacte una conclusión por cada 
  una de las tablas y gráficos que realice).   
* Hacer separación inicial de datos para entrenar y para testear.
* Limpiar datos y llenar datos faltantes. Así no haya datos faltantes realice el proceso de impotación de datos con la estrategia de la media. 
* Explorar correlaciones lineales de los atributos constructores con la variable objetivo de propina(`tip`).
* Estandarizar los datos.
* Crear canalizaciones con las clases Pipeline y ColumnTransformer para automalizar el proprocesamiento de los datos.