<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/marco-canas/intro-Machine-Learning/blob/main/classes/class_25_desempa%C3%B1o_clasificador/class_25_medidas_desempeno_clasificador.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
</table>

# Quiz 3_6

**Nombre del estudiante: GRANADA ZAPATA SUSANA**

In [3]:
import numpy as np 
import pandas as pd 

banco_train = pd.read_csv('bank_train.csv', sep = ';')

In [4]:
banco_train.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

Los tres atributos predictores asignados para usted son **education, default and balance**.

Para los tres atributos predictores que le fueron asignados realice las siguientes tareas: 
* Realizar una exploración tabular y gráfica de los datos utilizando los métodos. (Redacte una conclusión por cada 
  una de las tablas y gráficos que realice).   
* Hacer separación inicial de datos para entrenar y para testear.
* Limpiar datos y llenar datos faltantes. Así no haya datos faltantes realice el proceso de impotación de datos con la estrategia de la media. 
* Explorar correlaciones lineales de los atributos constructores con la variable objetivo de survived.
* Estandarizar los datos.
* Crear canalizaciones con las clases Pipeline y ColumnTransformer para automalizar el proprocesamiento de los datos.

La variable objetivo en este dataset es `y`.