<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/marco-canas/intro-Machine-Learning/blob/main/classes/class_25_desempa%C3%B1o_clasificador/class_25_medidas_desempeno_clasificador.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
</table>

# Quiz 3_2

# Preprocesamiento de datos

In [2]:
import numpy as np 
import pandas as pd 

t = pd.read_csv('titanic_train.csv')

In [3]:
t.head()

,passenger_id,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,survived
0,1216,3,"Smyth, Miss. Julia",female,NaN,0,0,335432,7.7333,NaN,Q,13,NaN,NaN,1
1,699,3,"Cacic, Mr. Luka",male,38.0,0,0,315089,8.6625,NaN,S,NaN,NaN,Croatia,0
2,1267,3,"Van Impe, Mrs. Jean Baptiste (Rosalie Paula Go...",female,30.0,1,1,345773,24.1500,NaN,S,NaN,NaN,NaN,0
3,449,2,"Hocking, Mrs. Elizabeth (Eliza Needs)",female,54.0,1,3,29105,23.0000,NaN,S,4,NaN,"Cornwall / Akron, OH",1
4,576,2,"Veal, Mr. James",male,40.0,0,0,28221,13.0000,NaN,S,NaN,NaN,"Barre, Co Washington, VT",0

In [4]:
t.keys()

Index(['passenger_id', 'pclass', 'name', 'sex', 'age', 'sibsp', 'parch',
       'ticket', 'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest',
       'survived'],
      dtype='object')

Para los tres atributos predictores que le fueron asignados realice las siguientes tareas:

* Decir cuáles son los atributos (descripción breve de cada uno)  
* Practicar una primera exploración gráfica de los datos.  
• Hacer separación inicial de datos para entrenar y para testear.  
• Limpiar datos y llenar datos faltantes.  
• Explorar correlaciones lineales con la variable objetivo.  
• Eliminar de ser necesario atributos que no sean de mucha utilidad.  
• Estandarizar los datos.  
• Automatice todo el proceso con el uso de las clases Pipeline y ColumnTransformer.

**Atributos asignados**
pclass, sex and age