<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/marco-canas/taca/blob/main/ref/geron/chap_2/5_prepare_for_algorithms/1_prepare_for_algorithms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
  <td>
    <a target="_blank" href="https://kaggle.com/kernels/welcome?src=https://github.com/marco-canas/taca/blob/main/ref/geron/chap_2/5_prepare_for_algorithms/1_prepare_for_algorithms.ipynb"><img src="https://kaggle.com/static/images/open-in-kaggle.svg" /></a>
  </td>
</table>

# Quiz 2 Python, Numpy, Pandas

## Punto 1 Python (Resolver solo con elementos de la librería estándar de Python)

Construya una función `aleatoriaTranspone()` que genere una matriz cuadrada de dimensiones fijas con valores aleatorios entre 0 y 9 (ambos incluidos) y que transponga a esta matriz utilizando ciclos for, while o if.

In [30]:
from random import randint

In [28]:
def aleatoriaTranspone(n):
    matriz = []

    for r in range(n):
        fila = []

        for c in range(n):
            fila.append(randint(0, 9))
        
        matriz.append(fila)
    
    return matriz

In [29]:
aleatoriaTranspone(4)

[[2, 5, 0, 4], [7, 9, 4, 8], [2, 8, 4, 8], [2, 6, 0, 7]]

1.3

In [25]:
resultado = llenar_matriz(9)

print(resultado)

[[9, 4, 2, 3, 0, 2, 9, 6, 6], [3, 1, 8, 5, 2, 8, 4, 6, 5], [2, 4, 7, 2, 8, 8, 6, 2, 8], [0, 9, 7, 3, 3, 3, 0, 0, 2], [1, 8, 0, 7, 6, 6, 9, 3, 2], [2, 8, 7, 2, 1, 1, 2, 8, 2], [9, 3, 8, 3, 0, 2, 8, 1, 8], [3, 0, 1, 8, 1, 0, 8, 8, 7], [8, 9, 4, 3, 8, 0, 9, 8, 8]]

## Punto 2 Numpy  

Defina la matriz tridigonalDeConstantes(a, b, c, n) que reciba como argumentos cuatro flotantes a, b, c, d y un entero positivo n y que retorne la matriz tridigonal 

$$ T_{n \times n} = \begin{bmatrix} b      & c      & 0 & 0  &\cdots  & 0 \\
                                    a      & b      & c & 0  & \cdots & 0 \\
                                    0      & a      & b & c  & \cdots & 0 \\
                                    \vdots & \vdots & \vdots & \vdots & \vdots \\
                                    0      & 0      & \cdots& a      & b  & c
                                    \end{bmatrix} $$

In [26]:
import numpy as np

def tridigonalDeConstantes(a, b, c, n):
    T = np.zeros((n,n))
    for i in range(n):
        T[i,i] = b
        if (i-1) >=0:
            T[i,i-1] = a
        if (i+1) < n:
            T[i,i+1] = c
    return T

In [25]:
tridigonalDeConstantes(1, 2, 3, 4)

array([[2., 3., 0., 0.],
       [1., 2., 3., 0.],
       [0., 1., 2., 3.],
       [0., 0., 1., 2.]])

In [ ]:
def TDMASolve(a, b, c, d):
    n = len(d)  # número de filas

    # Modifica los coeficientes de la primera fila
    c[0] /= b[0]  # Posible división por cero
    d[0] /= b[0]

    for i in range(1, n):
        ptemp = b[i] - (a[i] * c[i-1])
        c[i] /= ptemp
        d[i] = (d[i] - a[i] * d[i-1])/ptemp

    # Sustitución hacia atrás
    x = [0 for i in range(n)]
    x[-1] = d[-1]

    for i in range(-2, -n-1, -1):
        x[i] = d[i] - c[i] * x[i+1]

    return x

## Punto 3 Pandas

Contruya un DataFrame con la matriz anterior y cuyas columnas tengan por nombre $C1, C2, Cn$ y que sean indexadas sus instancias por los enteros $1,2,\ldots, n$.

In [32]:
#crear dataframe
import pandas as pd

In [33]:
M = tridigonalDeConstantes(1, 2, 3, 4)

In [34]:
M

array([[2., 3., 0., 0.],
       [1., 2., 3., 0.],
       [0., 1., 2., 3.],
       [0., 0., 1., 2.]])

In [35]:
df = pd.DataFrame(M, columns = ['C1', 'C2', 'C3', 'C4'], index = np.arange(1,5)) 
df

    C1   C2   C3   C4
1  2.0  3.0  0.0  0.0
2  1.0  2.0  3.0  0.0
3  0.0  1.0  2.0  3.0
4  0.0  0.0  1.0  2.0