
<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/marco-canas/innovaciones/blob/main/ref/geron/math_linear_algebra/linear_algebra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
  <td>
    <a target="_blank" href="https://kaggle.com/kernels/welcome?src=https://github.com/marco-canas/innovaciones/blob/main/ref/geron/math_linear_algebra/linear_algebra.ipynb"><img src="https://kaggle.com/static/images/open-in-kaggle.svg" /></a>
  </td>
</table>

# Ejercicio 1  

Escribir un programa que pregunte al usuario por las ventas de un rango de años y muestre por pantalla una Serie con los datos de las ventas indexada por los años, antes y después de aplicarles un descuento del 10%.

# Ejercicio 2  

Escribir una función que reciba un diccionario con las notas de los alumnos en curso en un examen y devuelva una serie con la nota mínima, la máxima, media y la desviación típica.

# Ejercicio 3  

Escribir una función que reciba una diccionario con las notas de los alumnos en curso en un examen y devuelva una serie con las notas de los alumnos aprobados ordenadas de mayor a menor.

# Ejercicio 4  

Escribir programa que genere y muestre por pantalla un DataFrame con los datos de la tabla siguiente:

|Mes|Ventas|Gastos|  
|---|------|------|    
|Enero|	30500|	22000|  
|Febrero|	35600|	23400|  
|Marzo|	28300|	18100|  
|Abril|	33900|	20700|

# Ejercicio 5  

Escribir una función que reciba un DataFrame con el formato del ejercicio anterior, una lista de meses, y devuelva el balance ($ventas - gastos$) total en los meses indicados.

In [1]:
import pandas as pd 

contabilidad_dict = {'mes':['enero', 'febrero', 'marzo', 'abril'],\
                    'ventas':[1000,2000,3000,4000],
                     'gastos':[500, 1000, 1500, 2000]
                    }

contabilidad_df = pd.DataFrame(contabilidad_dict)
contabilidad_df

       mes  ventas  gastos
0    enero    1000     500
1  febrero    2000    1000
2    marzo    3000    1500
3    abril    4000    2000

In [8]:
contabilidad_df[contabilidad_df['mes'].isin(['enero', 'febrero'])]

       mes  ventas  gastos
0    enero    1000     500
1  febrero    2000    1000

## Referencias 

* `.isin()`: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isin.html