
<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/marco-canas/introducci-n-al-Machine-Learning/blob/main/classes/class_12/class_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
  <td>
    <a target="_blank" href="https://kaggle.com/kernels/welcome?src=https://github.com/marco-canas/introducci-n-al-Machine-Learning/blob/main/classes/class_12/class_12.ipynb"><img src="https://kaggle.com/static/images/open-in-kaggle.svg" /></a>
  </td>
</table>

# [DataFrame según Géron](https://github.com/ageron/handson-ml/blob/master/tools_pandas.ipynb)

# Código para asignación de ejercicios en tareas y evaluaciones

In [31]:
grupo_intro_ml = pd.read_excel('grupo_intro_ml.xlsx')
grupo_intro_ml['Email']

0        german.alvarez1@udea.edu.co
1           juan.arangoj@udea.edu.co
2         jpablo.bolivar@udea.edu.co
3      vanessa.buitragol@udea.edu.co
4         angel.corrales@udea.edu.co
5          juan.gallegoj@udea.edu.co
6         susana.granada@udea.edu.co
7      nicolas.hernandez@udea.edu.co
8        miguel.jimenezg@udea.edu.co
9        pedro.martinez1@udea.edu.co
10        pabloa.montoya@udea.edu.co
11      manuela.moralesg@udea.edu.co
12     jhovanny.mosquera@udea.edu.co
13        mangel.murillo@udea.edu.co
14       daira.rodriguez@udea.edu.co
15    jluiscamilo.torres@udea.edu.co
Name: Email, dtype: object

In [32]:
import numpy as np 
import pandas as pd 

grupo_intro_ml = pd.read_excel('grupo_intro_ml.xlsx')

n = 130        # número de ejercicios totales del taller 

lista_ejercicios = list(range(1,n+1))

np.random.seed(14)

def elegir_5_ejercicios_diferentes(lista_ejercicios):
    ejercicios_asignados = []
    for i in range(5):
        a = np.random.choice(lista_ejercicios)
        ejercicios_asignados.append(a)
        lista_ejercicios.remove(a)
    return (lista_ejercicios, ejercicios_asignados)   


b = []

m = len(grupo_intro_ml.Nombre)  # Número de los estudiantes 

for i in range(m):
    lista_ejercicios, c = elegir_5_ejercicios_diferentes(lista_ejercicios)
    b.append(c)
    
    
parcial_1 = pd.Series( b, \
                      index = grupo_intro_ml.Nombre )    

parcial_1 = pd.DataFrame({'ejercicios asignados':parcial_1})
parcial_1

                                           ejercicios asignados
Nombre
ALVAREZ CARRERO GERMAN JOSE               [108, 89, 13, 24, 74]
ARANGO JARAMILLO JUAN JOSE              [127, 107, 113, 31, 11]
BOLIVAR HIGUITA JUAN PABLO               [86, 66, 116, 122, 30]
BUITRAGO LORA VANESSA                      [29, 98, 124, 39, 5]
CORRALES BOHÓRQUEZ ANGEL                   [90, 14, 15, 1, 104]
GALLEGO JARAMILLO JUAN PABLO              [102, 8, 50, 130, 55]
GRANADA ZAPATA SUSANA                    [84, 101, 87, 100, 60]
HERNANDEZ SUAREZ NICOLAS                    [26, 2, 46, 18, 81]
JIMÉNEZ GARCÍA MIGUEL ÁNGEL                [43, 64, 4, 109, 94]
MARTINEZ PÉREZ PEDRO ALEJANDRO            [21, 70, 51, 36, 106]
MONTOYA GONZÁLEZ PABLO ANDRÉS            [92, 125, 129, 27, 93]
MORALES GARCÍA MANUELA                   [69, 41, 28, 120, 112]
MOSQUERA PEREA JESÚS JHOVANNY            [103, 114, 20, 10, 91]
MURILLO ZAPATA MIGUEL ANGEL                [38, 72, 105, 6, 33]
RODRIGUEZ BARRIOS DAIRA LORENA            [75, 110, 12, 71, 37]
TORRES MERIÑO JOSE LUIS CAMILO             [63, 54, 95, 48, 53]

**DataFrame**, que se puede considerar como una tabla 2D.

Un objeto `DataFrame` representa una hoja de cálculo, con:  

* valores de celda, 
* nombres de columna y 
* etiquetas de índice de fila.

In [ ]:
import pandas as pd

Puede: 

* definir expresiones para calcular columnas basadas en otras columnas, 
* crear tablas dinámicas, 
* agrupar filas, 
* dibujar gráficos, etc.

## Creación de un DataFrame

Puede crear un `DataFrame` pasando un diccionario de objetos `Series`:

In [34]:
indices = ["mateo", "marcos", "lucas"]

In [35]:
peso = pd.Series([68, 83, 112], index = indices )

In [37]:
año_nacimiento = pd.Series([1984, 1985, 1992], index=indices)

In [44]:
hijos = pd.Series([0,3,4], index=indices)

In [47]:
hobby = pd.Series(["ciclismo", "baile", 'leer'], index = indices)

In [49]:
personas_dict = {
    "peso": peso,
    "año_nacimiento": año_nacimiento,
    "hijos": hijos,
    "hobby": hobby }  

personas = pd.DataFrame(personas_dict)
personas

        peso  año_nacimiento  hijos     hobby
mateo     68            1984      0  ciclismo
marcos    83            1985      3     baile
lucas    112            1992      4      leer

### Algunas cosas a tener en cuenta:

* las series se alinearon automáticamente en función de su índice,  

* los valores faltantes se representan como `NaN`,  

* Los nombres de las series se ignoran (se eliminó el nombre `year`),

## Acceso a las columnas

Se devuelven como objetos `Series`:

In [ ]:
personas["año_nacimiento"]      # así, obtienes un objeto Serie

In [ ]:
personas[["año_nacimiento"]]

También puede obtener varias columnas a la vez:

In [ ]:
personas[["año_nacimiento", "hobby"]]

Si pasa una lista de columnas y/o etiquetas de fila al constructor de `DataFrame`, garantizará que estas columnas y/o filas existirán, en ese orden, y no existirá ninguna otra columna/fila.   

Por ejemplo:

In [ ]:
d2 = pd.DataFrame(
        personas_dict,
        columns=["año_nacimiento", "peso", "altura"],
        index=["mateo", "marcos", "juan"]
     )
d2

Otra forma conveniente de crear un `DataFrame` es pasar todos los valores al constructor como un `ndarray`, o una lista de listas, y especificar los nombres de columna y las etiquetas de índice de fila por separado:

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
values = np.array([
            [1985, np.nan, "ciclismo",   68],
            [1984, 3,      "baile",      83],
            [1992, 0,      np.nan,       95]
         ])

In [ ]:
d3 = pd.DataFrame(
        values,
        columns=["año_nacimiento", "hijos", "hobby", "peso"],
        index=["mateo", "marcos", "lucas"]
     )
d3

Observe que para especificar los valores que faltan, se puede usar `np.nan`.

En lugar de un `ndarray`, también puedes pasar un objeto `DataFrame`:

In [ ]:
d4 = pd.DataFrame(
         d3,
         columns=["hobby", "hijos"],
         index=["mateo", "marcos"]
     )
d4

También es posible crear un `DataFrame` con un diccionario (o lista) de diccionarios (o lista):

In [ ]:
import pandas as pd 
personas = pd.DataFrame({
    "año_nacimiento": {"mateo":1985, "marcos": 1984, "lucas": 1992},
    "hobby": {"mateo":"ciclismo", "marcos": "baile"},
    "peso": {"mateo":68, "marcos": 83, "lucas": 112},
    "hijos": {"mateo": 3, "marcos": 1}
})

personas

In [ ]:
(personas['año_nacimiento'] > 1980) & (personas['año_nacimiento'] < 1990)

In [ ]:
personas[(personas['año_nacimiento'] > 1980) & (personas['año_nacimiento'] < 1990) ]

Ojo al uso del operador `&`

## Acceso a filas

Volvamos al `DataFrame` `personas`:

In [ ]:
personas

El atributo `.loc[]` le permite acceder a las filas en lugar de a las columnas.

El resultado es un objeto `Serie` en el que los nombres de columna de `DataFrame` se asignan a etiquetas de índice de fila:

In [ ]:
personas.loc["mateo"]

In [ ]:
type(personas.loc["mateo"])

In [ ]:
personas.loc[["mateo"]]

In [ ]:
type(personas.loc[["mateo"]] )

In [ ]:
personas.loc[['mateo', 'marcos']]

También puede acceder a las filas por ubicación de enteros utilizando el atributo `iloc`:

In [ ]:
personas.iloc[2]

También puede obtener una porción de filas, y esto devuelve un objeto `DataFrame`:

In [ ]:
personas.iloc[1:3]

In [ ]:
personas.keys()

In [ ]:
1980 < personas.loc['año_nacimiento'] < 1990

In [ ]:
Finalmente, puede pasar una matriz booleana para obtener las filas coincidentes:

In [ ]:
personas.iloc[np.array([True, True, True])]

Esto es más útil cuando se combina con expresiones booleanas:

In [ ]:
personas.keys()

In [ ]:
[True, True, False]  # lista de Python

In [ ]:
hobby_antes_de_1990 = personas[ personas['año_nacimiento'] < 1990 ]['hobby']

In [ ]:
hobby_antes_de_1990

## Adición y eliminación de columnas

In [ ]:
personas

In [ ]:
personas['edad'] = 2022 - personas['año_nacimiento']

In [ ]:
personas

In [ ]:
personas['mas_30_años'] = personas['edad'] > 30

In [ ]:
personas

In [ ]:
año_nacimiento = personas.pop('año_nacimiento')

In [ ]:
año_nacimiento

In [ ]:
personas

In [ ]:
del personas['hijos']

In [ ]:
personas

Cuando agrega una nueva columna, debe tener el mismo número de filas. Las filas que faltan se rellenan con `NaN` y las filas adicionales se ignoran:

In [ ]:
personas["mascotas"] = pd.Series({"mateo": 0, "marcos": 2, "juan":1})  # alice is missing, eugene is ignored
personas

Al agregar una **nueva columna**, se agrega **al final** (a la derecha) de forma predeterminada.

También puedes insertar una columna en cualquier otro lugar usando el método `insert()`:

In [ ]:
personas.insert(2, 'estatura', [165, 152, 170])
personas

## Asignación de nuevas columnas

También puede crear nuevas columnas llamando al método `assign()`.

Tenga en cuenta que esto devuelve un nuevo objeto `DataFrame`, el original no se modifica:

In [1]:
personas.assign(indice_masa_corporal = personas['peso']/(personas['estatura']/100)**2,
             tiene_mascota = personas['mascotas'] > 0)

NameError: name 'personas' is not defined

In [ ]:
personas.assign(indice_masa_corporal = personas['peso']/(personas['estatura']/100)**2,
             tiene_mascota = personas['mascotas'] > 0, implace = True)

In [ ]:
personas

Tenga en cuenta que no puede acceder a las columnas creadas dentro de la misma tarea:

In [ ]:
try:
    people.assign(
        indice_masa_corporal = personas["peso"] / (personas["estatura"] / 100) ** 2,
        sobre_peso = personas["indice_masa_corporal"] > 25
    )
except KeyError as e:
    print("Key error:", e)

La solución es dividir esta asignación en dos asignaciones consecutivas:

In [ ]:
d6 = people.assign(indice_masa_corporal = personas["peso"] / (personas["estatura"] / 100) ** 2)

In [ ]:
d6.assign(sobre_peso = d6["indice_masa_corporal"] > 25)

Tener que crear una variable temporal `d6` no es muy conveniente.

Es posible que desee simplemente encadenar las llamadas de asignación, pero no funciona porque el objeto `personas` en realidad no se modifica con la primera asignación:

In [ ]:
try:
    (personas
         .assign(indice_masa_corporal = personas["peso"] / (personas["estatura"] / 100) ** 2)
         .assign(sobre_peso = personas["indice_masa_corporal"] > 25)
    )
except KeyError as e:
    print("Key error:", e)

Pero no temas, hay una solución simple. Puede pasar una función al método `asign()` (normalmente una función `lambda`), y esta función se llamará con el `DataFrame` como parámetro:

In [ ]:
(personas
     .assign(indice_masa_corporal = lambda df: df["peso"] / (df["estatura"] / 100) ** 2)
     .assign(sobre_peso = lambda df: df["indice_masa_corporal"] > 25)
)

## Evaluar una expresión

Una gran característica compatible con pandas es la evaluación de expresiones.

Esto se basa en la biblioteca `numexpr` que debe estar instalada.

In [ ]:
personas.eval('peso/(estatura/100)**2 > 25')

También se admiten expresiones de asignación. Configuremos `inplace=True` para modificar directamente el `DataFrame` en lugar de obtener una **copia modificada**:

In [ ]:
personas.eval("indice_masa_corporal = peso / (estatura/100) ** 2", inplace=True)
personas

Puede usar una variable local o global en una expresión prefijándola con `@`:

In [ ]:
umbral_sobre_peso = 30
personas.eval("sobre_peso = indice_masa_corporal > @umbral_sobre_peso", inplace=True)

personas

## Querying a DataFrame (Consultar en el DataFrame)

El método `query()` le permite filtrar un `DataFrame` basado en una expresión de consulta:

In [ ]:
personas.query("edad > 30 and mascotas == 2")

## Ordenar un DataFrame

Puede ordenar un `DataFrame` llamando a su método `sort_index`.

Por defecto, ordena las filas por su etiqueta de índice, en orden ascendente, pero invirtamos el orden:

In [ ]:
personas.sort_index(ascending=True)

## Taller de clase o tarea

Se lanzan al aire dos dados y se suman sus puntos obtenidos. Halla la probabilidad de que la suma:  

a) Sea 4.  
b) No sea 7.  
c) Sea mayor que 7.  
d) Sea menor que 5.  
e) Sea 6 o 9.  
f) Esté entre 2 y 6.

## Solución

1. Empecemos construyendo un DataFrame con todos los posibles resultados de este experimento aleatorio: 
2. Agregue una columna de la variable aleatoria.
3. Cree una columna de booleanos que indique los casos favorables. 
4. Sume los casos favorables
5. divida la suma por la longitud del DataFrame
6. Redacte una conclusión

In [ ]:
import numpy as np 
import pandas as pd 

dado1 = np.array([])
for i in range(1,7):
    dado1 = np.hstack((dado1,i*np.ones(6)))
    
dado1

In [ ]:
dado2 = np.array([])
for i in range(1,7):
    dado2 = np.hstack((dado2,*np.arange(1,7)))
    
dado2

In [ ]:
dic = {'dado1':dado1,'dado2':dado2} 
resultados = pd.DataFrame(dic, index = np.arange(1,len(dado1)+1)) 
resultados.head()

In [ ]:
resultados['suma'] = resultados['dado1'] + resultados['dado2'] 
resultados

In [ ]:
resultados['suma_es_4'] = resultados.suma == 4
resultados.head()

In [ ]:
probabilidad_suma_es_4 = resultados.suma_es_4.sum()/len(resultados)
probabilidad_suma_es_4

Por lo tanto, la probabilidad de que al lanzar dos dados la suma de los resultados sea 4 es del 8.3 porciento.

## Referentes

* Pandas según Géron: https://github.com/ageron/handson-ml/blob/master/tools_pandas.ipynb 

* `DataFrame.pop(elemento)`: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pop.html