
<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/marco-canas/introducci-n-al-Machine-Learning/blob/main/classes/class_11/class_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
  <td>
    <a target="_blank" href="https://kaggle.com/kernels/welcome?src=https://github.com/marco-canas/introducci-n-al-Machine-Learning/blob/main/classes/class_11/class_11.ipynb"><img src="https://kaggle.com/static/images/open-in-kaggle.svg" /></a>
  </td>
</table>

# [DataFrame según Géron](https://github.com/ageron/handson-ml/blob/master/tools_pandas.ipynb)

**DataFrame**, que se puede considerar como una tabla 2D en memoria.

Un objeto `DataFrame` representa una hoja de cálculo, con:  

* valores de celda, 
* nombres de columna y 
* etiquetas de índice de fila.

In [1]:
import pandas as pd

Puede: 

* definir expresiones para calcular columnas basadas en otras columnas, 
* crear tablas dinámicas, 
* agrupar filas, 
* dibujar gráficos, etc.

## Creación de un DataFrame

Puede crear un `DataFrame` pasando un diccionario de objetos `Series`:

In [2]:
people_dict = {
    "weight": pd.Series([68, 83, 112], index=["alice", "bob", "charles"]),
    "birthyear": pd.Series([1984, 1985, 1992], index=["bob", "alice", "charles"], name="year"),
    "children": pd.Series([0, 3], index=["charles", "bob"]),
    "hobby": pd.Series(["Biking", "Dancing"], index=["alice", "bob"])}  

people = pd.DataFrame(people_dict)
people

         weight  birthyear  children    hobby
alice        68       1985       NaN   Biking
bob          83       1984       3.0  Dancing
charles     112       1992       0.0      NaN

### Algunas cosas a tener en cuenta:

* las series se alinearon automáticamente en función de su índice,  

* los valores faltantes se representan como `NaN`,  

* Los nombres de las series se ignoran (se eliminó el nombre `year`),

## Acceso a las columnas

Se devuelven como objetos `Series`: