<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/marco-canas/innovaciones/blob/main/ref/geron/math_linear_algebra/linear_algebra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
  <td>
    <a target="_blank" href="https://kaggle.com/kernels/welcome?src=https://github.com/marco-canas/innovaciones/blob/main/ref/geron/math_linear_algebra/linear_algebra.ipynb"><img src="https://kaggle.com/static/images/open-in-kaggle.svg" /></a>
  </td>
</table>

# Ejercicio 4 Pandas 

Escribir programa que genere y muestre por pantalla un `DataFrame` con los datos de la tabla siguiente:

| Mes     | Ventas | Gastos |
| ------- | -----: | -----: |
| Enero   |  30500 |  22000 |
| Febrero |  35600 |  23400 |
| Marzo   |  28300 |  18100 |
| Abril   |  33900 |  20700 |

In [1]:
import pandas as pd

datos = {'Mes':['Enero', 'Febrero', 'Marzo', 'Abril'],\
         'Ventas':[30500, 35600, 28300, 33900], \
         'Gastos':[22000, 23400, 18100, 20700]}
contabilidad = pd.DataFrame(datos)
contabilidad

       Mes  Ventas  Gastos
0    Enero   30500   22000
1  Febrero   35600   23400
2    Marzo   28300   18100
3    Abril   33900   20700

## Una segunda manera

In [2]:
ventas_gastos = {'ventas':[30500, 35600, 28300, 33900], 'gastos':[22000, 23400, 18100, 20700]}
index = pd.Series(['enero', 'febrero', 'marzo', 'abril'], name = 'mes')

contabilidad2 = pd.DataFrame(ventas_gastos, index = index)

contabilidad2

         ventas  gastos
mes
enero     30500   22000
febrero   35600   23400
marzo     28300   18100
abril     33900   20700