<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/marco-canas/innovaciones/blob/main/ref/geron/math_linear_algebra/linear_algebra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
  <td>
    <a target="_blank" href="https://kaggle.com/kernels/welcome?src=https://github.com/marco-canas/innovaciones/blob/main/ref/geron/math_linear_algebra/linear_algebra.ipynb"><img src="https://kaggle.com/static/images/open-in-kaggle.svg" /></a>
  </td>
</table>

# Ejercicio 6  

El fichero cotizacion.csv contiene las cotizaciones de las empresas del IBEX35 con las siguientes columnas: 
* `nombre` (nombre de la empresa), 
* `Final` (precio de la acción al cierre de bolsa), 
* `Máximo` (precio máximo de la acción durante la jornada), 
* `Mínimo` (precio mínimo de la acción durante la jornada), 
* `volumen` (Volumen al cierre de bolsa), 
* `Efectivo` (capitalización al cierre en miles de euros).   

Construir una función que construya un DataFrame a partir del un fichero con el formato anterior y devuelva otro DataFrame con el mínimo, el máximo y la media de cada columna.

In [46]:
import pandas as pd

def resumen_cotizaciones(fichero):
    df = pd.read_csv(fichero, sep=';', decimal=',', thousands='.', index_col=0)
    return pd.DataFrame([df.min(), df.max(), df.mean()], index=['Mínimo', 'Máximo', 'Media'])

resumen_cotizaciones('cotizacion.csv')

               Final        Máximo        Mínimo       Volumen    Efectivo
Mínimo      1.016500      4.067500      1.016500  1.221000e+03    2343.090
Máximo  19705.000000  19875.000000  19675.000000  3.612969e+07  145765.440
Media    2796.768757   3170.113357   3136.510471  4.252279e+06   31767.778

In [49]:
df = pd.read_csv('cotizacion.csv', sep = ';', decimal = ',', thousands = '.', index_col = 0)
df.head()

            Final   Máximo   Mínimo  Volumen  Efectivo
Nombre
ACCIONA     95.95    96.75    94.40    84962   8166.11
ACERINOX  8668.00  8672.00  8468.00    88599   7633.81
ACS         37.28    37.66    37.22   655982  24517.29
AENA       167.10   167.50   166.10   133738  22336.10
AMADEUS     69.96    70.64    69.56   640476  44795.47

In [51]:
df.min()

Final          1.0165
Máximo         4.0675
Mínimo         1.0165
Volumen     1221.0000
Efectivo    2343.0900
dtype: float64