<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/marco-canas/introducci-n-al-Machine-Learning/blob/main/classes/class_11/class_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
  <td>
    <a target="_blank" href="https://kaggle.com/kernels/welcome?src=https://github.com/marco-canas/introducci-n-al-Machine-Learning/blob/main/classes/class_11/class_11.ipynb"><img src="https://kaggle.com/static/images/open-in-kaggle.svg" /></a>
  </td>
</table>

# Clase 11 Pandas

## [Pandas según Géron](https://github.com/ageron/handson-ml/blob/master/tools_pandas.ipynb)

### [Primer video de apoyo]()

La biblioteca pandas proporciona:

* estructuras de datos y 
* herramientas de análisis de datos 

fáciles de usar y de alto rendimiento.

La estructura de datos principal es el **DataFrame**, que se puede considerar como una tabla 2D en memoria (como una hoja de cálculo, con nombres de columna y etiquetas de fila).

 Pandas también es excelente para manejar series temporales.

In [ ]:
import pandas as pd

## Los Objetos Serie  

Un objeto `Serie` es una matriz 1D, similar a una columna en una hoja de cálculo (con un nombre de columna y etiquetas de fila).

## El Objeto DataFrame.

Esta es una tabla 2D, similar a una hoja de cálculo (con nombres de columnas y etiquetas de filas).

### Crear una serie

In [ ]:
s = pd.Series([-1,0,1,2])
s

## Similar a un ndarray 1D

Los objetos de serie se comportan de manera muy similar a los `ndarrays` de NumPy unidimensionales y, a menudo, puede pasarlos como parámetros a las funciones NumPy:

In [ ]:
import numpy as np
# s = pd.Series([-1,0,1,2])
np.exp(s)                # Note que hemos utilizado una serie de Pandas como parámetro de una función de NumPy.

Las operaciones aritméticas en `Series` también son posibles, y se aplican por elementos, al igual que para `ndarrays`:

In [ ]:
s + [1000,2000,3000,4000]

Similar a NumPy, si agrega un solo número a una serie, ese número se agrega a todos los elementos de la serie. Esto se llama *broadcasting*:

In [ ]:
s + 1000

In [ ]:
s/100

In [ ]:
s*10

Lo mismo se aplica a todas las operaciones binarias como `*` o `/`, e incluso a las operaciones condicionales:

In [ ]:
# s = pd.Series([-1,0,1,2])
s < 0

## [Primer video de apoyo](https://www.youtube.com/watch?v=Ju1HyeaBUII)

## Etiquetas como índice

Cada elemento de un objeto `Serie` tiene un **identificador** único denominado **etiqueta de índice**.

De forma predeterminada, es simplemente el rango del elemento en la `Serie` (comenzando en 0), pero también puede configurar las etiquetas de índice manualmente:

In [ ]:
s2 = pd.Series([68, 83, 112, 68], index=["alice", "bob", "charles", "darwin"])
s2

luego puede usar la Serie como un `dict`, es decir, puede acceder a la información por medio de claves (keys)

In [ ]:
s2["bob"]

Todavía puede acceder a los elementos por ubicación entera, como en una matriz regular:

In [ ]:
s2[1]

Para que quede claro cuando se accede por etiqueta o por ubicación de número entero, se recomienda usar siempre 
* el atributo `.loc` cuando se accede por etiqueta y 
* el atributo `.iloc` cuando se accede por ubicación de número entero:

In [ ]:
s2.loc["bob"]

In [ ]:
s2.iloc[1]

In [ ]:
Cortar una serie también corta las etiquetas de índice:

In [ ]:
s2.iloc[0:]

Esto puede generar resultados inesperados al usar las etiquetas numéricas predeterminadas, así que tenga cuidado:

In [ ]:
import pandas as pd 
surprise = pd.Series([1000, 1001, 1002, 1003])
surprise

In [ ]:
surprise_slice = surprise[2:]
surprise_slice

In [ ]:
surprise_slice[0]

**Note**  
El primer elemento tiene la etiqueta de índice 2. El elemento con la etiqueta de índice 0 está ausente del sector:

In [ ]:
try:
    surprise_slice[0]
except KeyError as e:
    print("Key error:", e)

Pero recuerda que puedes acceder a los elementos por ubicación entera usando el atributo `iloc`.

Esto ilustra otra razón por la que siempre es mejor usar `loc` e `iloc` para acceder a los objetos `Series`:

In [ ]:
surprise_slice.iloc[0]

## [Video de apoyo sobre dotación de etiquetas](https://www.youtube.com/watch?v=3mVSeLGeoj8)

## Creación de una serie desde un diccionario

Puede crear un objeto `Serie` a partir de un diccionario. Las claves se utilizarán como **etiquetas de índice**:

In [ ]:
weights = {"alice": 68, "bob": 83, "colin": 86, "darwin": 68}
s3 = pd.Series(weights)
s3

Puede controlar qué elementos desea incluir en la `Serie` y en qué orden especificando explícitamente el índice deseado:

In [ ]:
s4 = pd.Series(weights, index = ["colin", "alice"])
s4

## Alineación automática

Cuando una operación involucra múltiples objetos `Series`, pandas alinea automáticamente los elementos haciendo coincidir las etiquetas de índice.

In [ ]:
print(s2)

print() 

print(s3)

In [ ]:
print(s2.keys())
print(s3.keys())

s2 + s3

La serie resultante contiene la unión de las etiquetas de índice de `s2` y `s3`.

Como falta "colin" en `s2` y "charles" en `s3`, estos elementos tienen un valor de resultado `NaN`. (es decir, Not-a-Number significa que falta).

La alineación automática es muy útil cuando se trabaja con datos que pueden provenir de varias fuentes con estructura variable y elementos faltantes.

Pero si olvida establecer las etiquetas de índice correctas, puede obtener resultados sorprendentes:

In [ ]:
s2

In [ ]:
s5 = pd.Series([1000,1000,1000,1000])
print("s2 =", s2.values)
print("s5 =", s5.values)

s2 + s5

Los pandas no pudieron alinear la serie, ya que sus etiquetas no coinciden en absoluto, de ahí el resultado completo de `NaN`.

## Crear una serie a partir de un escalar

También puede inicializar un objeto Serie usando:  

* un escalar y 
* una lista de etiquetas de índice: 

todos los elementos se establecerán en el escalar.

In [ ]:
meaning = pd.Series(42, ["life", "universe", "everything"])
meaning

## Nombre de la serie

Una serie puede tener un nombre:

In [ ]:
s6 = pd.Series([83, 68], index=["bob", "alice"], name="weights")
s6

## Trazar una serie

Pandas facilita la representación gráfica de datos de series con matplotlib.   

Solo importe matplotlib y llama al método `plot()`:

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

temperaturas = (np.array([4.4,5.1,6.1,6.2,6.1,6.1,5.7,5.2,4.7,4.1,3.9,3.5])-32)/1.8
temperaturas

In [ ]:
s7 = pd.Series(temperaturas, name="Temperaturas")
s7.plot()

plt.grid(alpha = 0.4)
plt.show()

Hay muchas opciones para trazar sus datos.

No es necesario enumerarlos todos aquí: si necesita un tipo particular de gráfico (histogramas, gráficos circulares, etc.), simplemente búsquelo en la excelente sección de Visualización de la documentación de pandas y mire el código de ejemplo.

## Manipulación del tiempo

Muchos conjuntos de datos tienen marcas de tiempo, y pandas es excelente para manipular dichos datos:

* puede representar períodos y frecuencias (como "mensual"),  
* puede convertir períodos en marcas de tiempo reales, y viceversa,
* puede volver a muestrear datos y agregar valores de la forma que desee,
* puede manejar zonas horarias.
* Intervalo de tiempo

Comencemos por crear una serie de tiempo usando `pd.date_range()`. Esto devuelve un `DatetimeIndex` que contiene una fecha y hora por hora durante 12 horas a partir del 29 de octubre de 2016 a las 5:30 p. m.

In [ ]:
dates = pd.date_range('2016/10/29 5:30pm', periods=12, freq='3H')   # 24H
dates

[pandas.data_range()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.date_range.html)

Este `DatetimeIndex` puede usarse como un índice en una `Serie`:

In [ ]:
temp_series = pd.Series(temperatures, dates)
temp_series

In [ ]:
temp_series.plot(kind="bar")

plt.grid(True)
plt.show()

## Remuestreo

Pandas nos permite volver a muestrear una serie temporal de forma muy sencilla. Simplemente llame al método `resample()` y especifique una nueva frecuencia:

In [ ]:
temp_series_freq_2H = temp_series.resample("2H")
temp_series_freq_2H

La operación de remuestreo es en realidad una operación diferida, por lo que no obtuvimos un objeto `Series`, sino un objeto `DatetimeIndexResampler` en su lugar.

Para realizar realmente la operación de remuestreo, simplemente podemos llamar al método `mean()`: Pandas calculará la media de cada par de horas consecutivas:

In [ ]:
temp_series_freq_2H = temp_series_freq_2H.mean()
temp_series_freq_2H

Grafiquemos el resultado:

In [ ]:
temp_series_freq_2H.plot(kind="bar")
plt.show()

Observe cómo los valores se han agregado automáticamente en períodos de 2 horas. Si observamos el período de 6:00 p. m. a 8:00 p. m., por ejemplo, tuvimos un valor de 5,1 a las 6:30 p. m. y de 6,1 a las 7:30 p. m. Después de volver a muestrear, solo tenemos un valor de 5,6, que es la media de 5,1 y 6,1.

En lugar de calcular la media, podríamos haber usado cualquier otra función de agregación, por ejemplo, podemos decidir mantener el valor mínimo de cada período:

In [ ]:
temp_series_freq_2H = temp_series.resample("2H").min()
temp_series_freq_2H

O, de manera equivalente, podríamos usar el método `apply()` en su lugar:

In [ ]:
import numpy as np 
temp_series_freq_2H = temp_series.resample("2H").apply(np.min)
temp_series_freq_2H

## Sobremuestreo e interpolación

Este fue un ejemplo de reducción de resolución. También podemos aumentar la muestra (es decir, aumentar la frecuencia), pero esto crea agujeros en nuestros datos:

In [ ]:
temp_series_freq_15min = temp_series.resample("15Min").mean()
temp_series_freq_15min.head(n=10) # `head` displays the top n values

Una solución es llenar los huecos interpolando. Simplemente llamamos al método `interpolate()`. El valor predeterminado es usar la interpolación lineal, pero también podemos seleccionar otro método, como la interpolación cúbica:

In [ ]:
temp_series_freq_15min = temp_series.resample("15Min").interpolate(method="cubic")
temp_series_freq_15min.head(n=10)

In [ ]:
temp_series.plot(label="Period: 1 hour")
temp_series_freq_15min.plot(label="Period: 15 minutes")
plt.legend()
plt.show()

## Zonas horarias

Por defecto, las fechas y horas son ingenuas: no conocen las zonas horarias, por lo que 2016-10-30 02:30 podría significar el 30 de octubre de 2016 a las 2:30 a. m. en París o en Nueva York. Podemos hacer que las fechas y horas sean conscientes de la zona horaria llamando al método tz_localize():

In [ ]:
temp_series_ny = temp_series.tz_localize("America/New_York")
temp_series_ny

Tenga en cuenta que -04:00 ahora se agrega a todas las fechas y horas. Esto significa que estas fechas y horas se refieren a UTC - 4 horas.

Podemos convertir estas fechas y horas a la hora de París de esta manera:

In [ ]:
temp_series_paris = temp_series_ny.tz_convert("Europe/Paris")
temp_series_paris

Es posible que haya notado que la compensación UTC cambia de +02:00 a +01:00: esto se debe a que Francia cambia al horario de invierno a las 3 a. m. esa noche en particular (la hora vuelve a las 2 a. m.). ¡Observe que las 2:30 am ocurren dos veces! Volvamos a una representación ingenua (si registra algunos datos cada hora usando la hora local, sin almacenar la zona horaria, podría obtener algo como esto):

In [ ]:
temp_series_paris_naive = temp_series_paris.tz_localize(None)
temp_series_paris_naive

Ahora 02:30 es realmente ambiguo. Si intentamos localizar estas fechas y horas ingenuas en la zona horaria de París, obtenemos un error:

In [ ]:
try:
    temp_series_paris_naive.tz_localize("Europe/Paris")
except Exception as e:
    print(type(e))
    print(e)

Afortunadamente, usando el argumento `ambiguous`, podemos decirle a los pandas que deduzcan el DST (Horario de verano) correcto en función del orden de las marcas de tiempo ambiguas:

In [ ]:
temp_series_paris_naive.tz_localize("Europe/Paris", ambiguous="infer")

## Períodos
La función `pd.period_range()` devuelve un `PeriodIndex` en lugar de un `DatetimeIndex`. Por ejemplo, obtengamos todos los trimestres en 2016 y 2017:

In [ ]:
quarters = pd.period_range('2016Q1', periods=8, freq='Q')
quarters

Agregar un número `N`a un `PeriodIndex` cambia los periodos por `N` veces la frecuencia del `PeriodIndex`:

In [ ]:
quarters + 3

## El objeto DataFrame

Un objeto `DataFrame` representa una hoja de cálculo, con:  

* valores de celda, 
* nombres de columna y 
* etiquetas de índice de fila.

Puede: 

* definir expresiones para calcular columnas basadas en otras columnas, 
* crear tablas dinámicas, 
* agrupar filas, 
* dibujar gráficos, etc. 

Puede ver DataFrames como diccionarios de Series.

## Creación de un DataFrame

Puede crear un `DataFrame` pasando un diccionario de objetos `Series`:

In [6]:
import pandas as pd

In [7]:
people_dict = {
    "weight": pd.Series([68, 83, 112], index=["alice", "bob", "charles"]),
    "birthyear": pd.Series([1984, 1985, 1992], index=["bob", "alice", "charles"], name="year"),
    "children": pd.Series([0, 3], index=["charles", "bob"]),
    "hobby": pd.Series(["Biking", "Dancing"], index=["alice", "bob"])}  

people = pd.DataFrame(people_dict)
people

         weight  birthyear  children    hobby
alice        68       1985       NaN   Biking
bob          83       1984       3.0  Dancing
charles     112       1992       0.0      NaN

### Algunas cosas a tener en cuenta:

* las series se alinearon automáticamente en función de su índice,  

* los valores faltantes se representan como `NaN`,  

* Los nombres de las series se ignoran (se eliminó el nombre `year`),

## Acceso a las columnas

Se devuelven como objetos `Series`:

In [8]:
people["birthyear"]

alice      1985
bob        1984
charles    1992
Name: birthyear, dtype: int64

In [9]:
people[["birthyear"]]

         birthyear
alice         1985
bob           1984
charles       1992

También puede obtener varias columnas a la vez:

In [10]:
people[["birthyear", "hobby"]]

         birthyear    hobby
alice         1985   Biking
bob           1984  Dancing
charles       1992      NaN

Si pasa una lista de columnas y/o etiquetas de fila al constructor de `DataFrame`, garantizará que estas columnas y/o filas existirán, en ese orden, y no existirá ninguna otra columna/fila. Por ejemplo:

In [11]:
d2 = pd.DataFrame(
        people_dict,
        columns=["birthyear", "weight", "height"],
        index=["bob", "alice", "eugene"]
     )
d2

        birthyear  weight height
bob        1984.0    83.0    NaN
alice      1985.0    68.0    NaN
eugene        NaN     NaN    NaN

Otra forma conveniente de crear un `DataFrame` es pasar todos los valores al constructor como un `ndarray`, o una lista de listas, y especificar los nombres de columna y las etiquetas de índice de fila por separado:

In [12]:
import numpy as np

In [13]:
values = np.array([
            [1985, np.nan, "Biking",   68],
            [1984, 3,      "Dancing",  83],
            [1992, 0,      np.nan,    112]
         ]) 
d3 = pd.DataFrame(
        values,
        columns=["birthyear", "children", "hobby", "weight"],
        index=["alice", "bob", "charles"]
     )
d3

        birthyear children    hobby weight
alice        1985      nan   Biking     68
bob          1984        3  Dancing     83
charles      1992        0      nan    112

Para especificar los valores que faltan, puede usar `np.nan`.

En lugar de un ndarray, también puedes pasar un objeto `DataFrame`:

In [14]:
d4 = pd.DataFrame(
         d3,
         columns=["hobby", "children"],
         index=["alice", "bob"]
     )
d4

         hobby children
alice   Biking      nan
bob    Dancing        3

También es posible crear un `DataFrame` con un diccionario (o lista) de diccionarios (o lista):

In [15]:
people = pd.DataFrame({
    "birthyear": {"alice":1985, "bob": 1984, "charles": 1992},
    "hobby": {"alice":"Biking", "bob": "Dancing"},
    "weight": {"alice":68, "bob": 83, "charles": 112},
    "children": {"bob": 3, "charles": 0}
})
people

         birthyear    hobby  weight  children
alice         1985   Biking      68       NaN
bob           1984  Dancing      83       3.0
charles       1992      NaN     112       0.0

## Acceso a filas

Volvamos al `DataFrame` `people`:

In [16]:
people

         birthyear    hobby  weight  children
alice         1985   Biking      68       NaN
bob           1984  Dancing      83       3.0
charles       1992      NaN     112       0.0

El atributo `loc` le permite acceder a las filas en lugar de a las columnas.

El resultado es un objeto `Serie` en el que los nombres de columna de `DataFrame` se asignan a etiquetas de índice de fila:

In [17]:
people.loc["charles"]

birthyear    1992
hobby         NaN
weight        112
children      0.0
Name: charles, dtype: object

In [20]:
people.loc[["charles"]]

         birthyear hobby  weight  children
charles       1992   NaN     112       0.0

También puede acceder a las filas por ubicación de enteros utilizando el atributo `iloc`:

In [18]:
people.iloc[2]

birthyear    1992
hobby         NaN
weight        112
children      0.0
Name: charles, dtype: object

También puede obtener una porción de filas, y esto devuelve un objeto `DataFrame`:

In [19]:
people.iloc[1:3]

         birthyear    hobby  weight  children
bob           1984  Dancing      83       3.0
charles       1992      NaN     112       0.0

Finalmente, puede pasar una matriz booleana para obtener las filas coincidentes:

In [ ]:
people[np.array([True, False, True])]

Esto es más útil cuando se combina con expresiones booleanas:

In [ ]:
people[people["birthyear"] < 1990]

## Adición y eliminación de columnas

In [ ]:
people

In [ ]:
people["age"] = 2022 - people["birthyear"]  # adds a new column "age"

In [ ]:
people

In [ ]:
people["over 30"] = people["age"] > 30      # adds another column "over 30"

In [ ]:
people

In [ ]:
birthyears = people.pop("birthyear")

In [ ]:
birthyears

In [ ]:
del people["children"]

In [ ]:
people

Cuando agrega una nueva columna, debe tener el mismo número de filas. Las filas que faltan se rellenan con `NaN` y las filas adicionales se ignoran:

In [ ]:
people["pets"] = pd.Series({"bob": 0, "charles": 5, "eugene":1})  # alice is missing, eugene is ignored
people

Al agregar una nueva columna, se agrega al final (a la derecha) de forma predeterminada.

También puedes insertar una columna en cualquier otro lugar usando el método `insert()`:

In [ ]:
people.insert(1, "height", [172, 181, 185])
people

## Asignación de nuevas columnas

También puede crear nuevas columnas llamando al método `assign()`.

Tenga en cuenta que esto devuelve un nuevo objeto `DataFrame`, el original no se modifica:

In [ ]:
people.assign(
    body_mass_index = people["weight"] / (people["height"] / 100) ** 2,
    has_pets = people["pets"] > 0
)

Tenga en cuenta que no puede acceder a las columnas creadas dentro de la misma tarea:

In [5]:
try:
    people.assign(
        body_mass_index = people["weight"] / (people["height"] / 100) ** 2,
        overweight = people["body_mass_index"] > 25
    )
except KeyError as e:
    print("Key error:", e)

Key error: 'height'

La solución es dividir esta asignación en dos asignaciones consecutivas:

In [ ]:
d6 = people.assign(body_mass_index = people["weight"] / (people["height"] / 100) ** 2)

In [ ]:
d6.assign(overweight = d6["body_mass_index"] > 25)

Tener que crear una variable temporal `d6` no es muy conveniente.

Es posible que desee simplemente encadenar las llamadas de asignación, pero no funciona porque el objeto `people` en realidad no se modifica con la primera asignación:

In [ ]:
try:
    (people
         .assign(body_mass_index = people["weight"] / (people["height"] / 100) ** 2)
         .assign(overweight = people["body_mass_index"] > 25)
    )
except KeyError as e:
    print("Key error:", e)

Pero no temas, hay una solución simple. Puede pasar una función al método `asign()` (normalmente una función lambda), y esta función se llamará con el marco de datos como parámetro:

In [ ]:
(people
     .assign(body_mass_index = lambda df: df["weight"] / (df["height"] / 100) ** 2)
     .assign(overweight = lambda df: df["body_mass_index"] > 25)
)

## Evaluar una expresión

Una gran característica compatible con pandas es la evaluación de expresiones. Esto se basa en la biblioteca numexpr que debe estar instalada.

In [ ]:
people.eval("weight / (height/100) ** 2 > 25")

También se admiten expresiones de asignación. Configuremos `inplace=True` para modificar directamente el `DataFrame` en lugar de obtener una copia modificada:

In [ ]:
people.eval("body_mass_index = weight / (height/100) ** 2", inplace=True)
people

Puede usar una variable local o global en una expresión prefijándola con `@`:

In [ ]:
overweight_threshold = 30
people.eval("overweight = body_mass_index > @overweight_threshold", inplace=True)
people

## Querying a DataFrame (Consultar en el DataFrame)

El método `query()` le permite filtrar un `DataFrame` basado en una expresión de consulta:

In [ ]:
people.query("age > 30 and pets == 0")

## Ordenar un DataFrame

Puede ordenar un DataFrame llamando a su método `sort_index`. Por defecto, ordena las filas por su etiqueta de índice, en orden ascendente, pero invirtamos el orden:

In [ ]:
people.sort_index(ascending=True)

## Taller de clase o tarea

Se lanzan al aire dos dados y se suman sus puntos obtenidos. Halla la probabilidad de que la suma:  

a) Sea 4.  
b) No sea 8.  
c) Sea mayor que 7.  
d) Sea menor que 5.  
e) Sea 6 o 9.  
f) Esté entre 2 y 6.

## Solución

1. Empecemos construyendo un DataFrame con todos los posibles resultados de este experimento aleatorio: 
2. Agregue una columna de la variable aleatoria

In [ ]:
import numpy as np 
import pandas as pd 

dado1 = np.array([])
for i in range(1,7):
    dado1 = np.hstack((dado1,i*np.ones(6)))
    
dado1

In [ ]:
dado2 = np.array([])
for i in range(1,7):
    dado2 = np.hstack((dado2,*np.arange(1,7)))
    
dado2

In [ ]:
dic = {'dado1':dado1,'dado2':dado2} 
resultados = pd.DataFrame(dic, index = np.arange(1,37)) 
resultados

In [ ]:
resultados['suma'] = resultados['dado1'] + resultados['dado2'] 
resultados.head()

In [ ]:
resultados['suma_es_4'] = resultados.suma == 4
resultados.head()

In [ ]:
probabilidad_suma_es_4 = resultados.suma_es_4.sum()/36
probabilidad_suma_es_4

Por lo tanto, la probabilidad de que al lanzar dos dados la suma de los resultados sea 4 es del 8.3 porciento.

## Referentes

* Pandas según Géron: https://github.com/ageron/handson-ml/blob/master/tools_pandas.ipynb 

* `DataFrame.pop(elemento)`: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pop.html

In [21]:
import numpy as np 
A = np.array([[1,2],[2,4]])
A

array([[1, 2],
       [2, 4]])

In [23]:
B = A.T - A

In [24]:
B.all()

False