<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/marco-canas/introducci-n-al-Machine-Learning/blob/main/classes/class_11/class_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
  <td>
    <a target="_blank" href="https://kaggle.com/kernels/welcome?src=https://github.com/marco-canas/introducci-n-al-Machine-Learning/blob/main/classes/class_11/class_11.ipynb"><img src="https://kaggle.com/static/images/open-in-kaggle.svg" /></a>
  </td>
</table>

# Clase 11 Pandas

## [Pandas según Géron](https://github.com/ageron/handson-ml/blob/master/tools_pandas.ipynb)

### [Primer video de apoyo]()

La biblioteca pandas proporciona:

* estructuras de datos y 
* herramientas de análisis de datos 

fáciles de usar y de alto rendimiento.

* La estructura de datos principal es el **DataFrame**, que se puede considerar como una tabla 2D en memoria 
* como una hoja de cálculo, con nombres de columna y etiquetas de fila.

In [3]:
import pandas as pd

## Los Objetos Serie  

Un objeto `Serie` es una matriz 1D, similar a una columna en una hoja de cálculo (con un nombre de columna y etiquetas de fila).

## El Objeto DataFrame.

Esta es una tabla 2D, similar a una hoja de cálculo (con nombres de columnas y etiquetas de filas).

### Crear una serie

In [4]:
s = pd.Series([-1,0,1])
s

0   -1
1    0
2    1
dtype: int64

## Similar a un ndarray 1D

Los objetos de serie se comportan de manera muy similar a los `ndarrays` de NumPy unidimensionales y, a menudo, puede pasarlos como parámetros a las funciones NumPy:

In [5]:
import numpy as np 
np.exp(1)

2.718281828459045

In [8]:
import numpy as np
# s = pd.Series([-1,0,1,2])
np.log(s+2)             # Note que hemos utilizado una serie de Pandas como 
                # parámetro de una función de NumPy.

0    0.000000
1    0.693147
2    1.098612
dtype: float64

Las operaciones aritméticas en `Series` también son posibles, y se aplican por elementos, al igual que para `ndarrays`:

In [9]:
[1,2] + [3,4]

[1, 2, 3, 4]

In [10]:
s + [1000,2000,3000]

0     999
1    2000
2    3001
dtype: int64

In [11]:
s + np.array([1,2,3])

0    0
1    2
2    4
dtype: int64

In [12]:
type(s)

pandas.core.series.Series

* Similar a NumPy, si agrega un solo número a una serie, ese número se agrega a todos los elementos de la serie. 
* Esto se llama *broadcasting*:

In [13]:
s + 1000

0     999
1    1000
2    1001
dtype: int64

In [14]:
s/100

0   -0.01
1    0.00
2    0.01
dtype: float64

In [15]:
s*10

0   -10
1     0
2    10
dtype: int64

Lo mismo se aplica a todas las operaciones binarias como `*` o `/`, e incluso a las operaciones condicionales:

In [16]:
# s = pd.Series([-1,0,1])
s >= 0

0    False
1     True
2     True
dtype: bool

In [17]:
False + False

0

In [18]:
True + True

2

In [19]:
False + True

1

In [20]:
True + False

1

## [Primer video de apoyo](https://www.youtube.com/watch?v=Ju1HyeaBUII)

## Etiquetas como índice

Cada elemento de un objeto `Serie` tiene un **identificador** único denominado **etiqueta de índice**.

De forma predeterminada, es simplemente el rango del elemento en la `Serie` (comenzando en 0), pero también puede configurar las etiquetas de índice manualmente:

In [21]:
s2 = pd.Series([68, 83, 112, 68], index=["alice", "bob", "charles", "darwin"])
s2

alice       68
bob         83
charles    112
darwin      68
dtype: int64

luego puede usar la Serie como un `dict`, es decir, puede acceder a la información por medio de claves (keys)

In [22]:
s2["darwin"]

68

Todavía puede acceder a los elementos por ubicación entera, como en una matriz regular:

In [23]:
s2[3]

68

Cuando se accede por etiqueta o por ubicación de número entero, se recomienda usar siempre 
* el atributo `.loc` cuando se accede por etiqueta y 
* el atributo `.iloc` cuando se accede por ubicación de número entero:

In [ ]:
s2.loc["bob"]

In [24]:
s2.iloc[1]

83

Cortar una serie también corta las etiquetas de índice:

In [26]:
s2

alice       68
bob         83
charles    112
darwin      68
dtype: int64

In [27]:
s2.iloc[:]

alice       68
bob         83
charles    112
darwin      68
dtype: int64

Esto puede generar resultados inesperados al usar las etiquetas numéricas predeterminadas, así que tenga cuidado:

In [28]:
import pandas as pd 
surprise = pd.Series([1000, 1001, 1002, 1003])   # serie con etiquetas de índice enteras
surprise

0    1000
1    1001
2    1002
3    1003
dtype: int64

In [30]:
surprise_slice = surprise[2:] # corte de la serie surprice_slice
surprise_slice

2    1002
3    1003
dtype: int64

In [37]:
surprise_slice[0]

KeyError: 0

**Note** 

* El primer elemento tiene la etiqueta de índice 2. 
* El elemento con la etiqueta de índice 0 está ausente del sector o segmento:

In [38]:
try:
    surprise_slice[0]
except KeyError as e:
    print("Key error:", e)

Key error: 0

Pero recuerda que puedes acceder a los elementos por ubicación entera usando el atributo `iloc`.

Esto ilustra otra razón por la que siempre es mejor usar `loc` e `iloc` para acceder a los objetos `Series`:

In [39]:
surprise_slice.iloc[0]

1002

## [Video de apoyo sobre dotación de etiquetas](https://www.youtube.com/watch?v=3mVSeLGeoj8)

## Creación de una serie desde un diccionario

Puede crear un objeto `Serie` a partir de un diccionario. Las claves se utilizarán como **etiquetas de índice**:

In [40]:
weights = {"alice": 68, "bob": 83, "colin": 86, "darwin": 68}
s3 = pd.Series(weights)
s3

alice     68
bob       83
colin     86
darwin    68
dtype: int64

Puede controlar qué elementos desea incluir en la `Serie` y en qué orden especificando explícitamente el índice deseado:

In [41]:
s4 = pd.Series(weights, index = ["colin", "alice"])
s4

colin    86
alice    68
dtype: int64

## Alineación automática

Cuando una operación involucra múltiples objetos `Series`, pandas alinea automáticamente los elementos haciendo coincidir las etiquetas de índice.

In [42]:
print(s2)

print() 

print(s3)

alice       68
bob         83
charles    112
darwin      68
dtype: int64

alice     68
bob       83
colin     86
darwin    68
dtype: int64

In [43]:
print(s2.keys())
print(s3.keys())

s2 * s3

Index(['alice', 'bob', 'charles', 'darwin'], dtype='object')
Index(['alice', 'bob', 'colin', 'darwin'], dtype='object')

alice      4624.0
bob        6889.0
charles       NaN
colin         NaN
darwin     4624.0
dtype: float64

La serie resultante contiene la unión de las etiquetas de índice de `s2` y `s3`.

Como falta `colin` en `s2` y `charles` en `s3`, estos elementos tienen un valor de resultado `NaN`. (es decir, Not-a-Number significa que falta).

La alineación automática es muy útil cuando se trabaja con datos que pueden provenir de varias fuentes con estructura variable y elementos faltantes.

Pero si olvida establecer las etiquetas de índice correctas, puede obtener resultados sorprendentes:

In [44]:
s2

alice       68
bob         83
charles    112
darwin      68
dtype: int64

In [45]:
s5 = pd.Series([1000,1000,1000,1000])

In [46]:
s5

0    1000
1    1000
2    1000
3    1000
dtype: int64

In [47]:
print("s2 =", s2.values)

s2 = [ 68  83 112  68]

In [48]:
s2

alice       68
bob         83
charles    112
darwin      68
dtype: int64

In [49]:
print("s5 =", s5.values)

s5 = [1000 1000 1000 1000]

In [50]:
s2 + s5

alice     NaN
bob       NaN
charles   NaN
darwin    NaN
0         NaN
1         NaN
2         NaN
3         NaN
dtype: float64

Pandas no pudo alinear las series, ya que sus etiquetas no coinciden en absoluto, de ahí el resultado completo de `NaN`.

## Crear una serie a partir de un escalar

También puede inicializar un objeto Serie usando:  

* un escalar y 
* una lista de etiquetas de índice: 

todos los elementos se establecerán en el escalar.

In [ ]:
meaning = pd.Series(42, index = ["life", "universe", "everything"])
meaning

## Nombre de la serie

Una serie puede tener un nombre:

In [ ]:
s6 = pd.Series([83, 68], index=["bob", "alice"], name="weights")
s6

## Trazar una serie

Pandas facilita la representación gráfica de datos de series con matplotlib.   

Solo importe matplotlib y llama al método `plot()`:

In [ ]:
import matplotlib.pyplot as plt

temperaturas = [4.4,5.1,6.1,6.2,6.1,6.1,5.7,5.2,4.7,4.1,3.9,3.5]
temperaturas

In [ ]:
s7 = pd.Series(temperaturas, name="Temperaturas")
s7.plot()

## El objeto DataFrame

Un objeto `DataFrame` representa una hoja de cálculo, con:  

* valores de celda, 
* nombres de columna y 
* etiquetas de índice de fila.

Puede: 

* definir expresiones para calcular columnas basadas en otras columnas, 
* crear tablas dinámicas, 
* agrupar filas, 
* dibujar gráficos, etc.

## Creación de un DataFrame

Puede crear un `DataFrame` pasando un diccionario de objetos `Series`:

In [51]:
import pandas as pd

In [52]:
people_dict = {
    "weight": pd.Series([68, 83, 112], index=["alice", "bob", "charles"]),
    "birthyear": pd.Series([1984, 1985, 1992], index=["bob", "alice", "charles"], name="year"),
    "children": pd.Series([0, 3], index=["charles", "bob"]),
    "hobby": pd.Series(["Biking", "Dancing"], index=["alice", "bob"])}  

people = pd.DataFrame(people_dict)
people

         weight  birthyear  children    hobby
alice        68       1985       NaN   Biking
bob          83       1984       3.0  Dancing
charles     112       1992       0.0      NaN

### Algunas cosas a tener en cuenta:

* las series se alinearon automáticamente en función de su índice,  

* los valores faltantes se representan como `NaN`,  

* Los nombres de las series se ignoran (se eliminó el nombre `year`),

## Acceso a las columnas

Se devuelven como objetos `Series`:

In [53]:
people["birthyear"]

alice      1985
bob        1984
charles    1992
Name: birthyear, dtype: int64

In [54]:
people[["birthyear"]]

         birthyear
alice         1985
bob           1984
charles       1992

También puede obtener varias columnas a la vez:

In [55]:
people[["birthyear", "hobby"]]

         birthyear    hobby
alice         1985   Biking
bob           1984  Dancing
charles       1992      NaN

Si pasa una lista de columnas y/o etiquetas de fila al constructor de `DataFrame`, garantizará que estas columnas y/o filas existirán, en ese orden, y no existirá ninguna otra columna/fila.   

Por ejemplo:

In [56]:
d2 = pd.DataFrame(
        people_dict,
        columns=["birthyear", "weight", "height"],
        index=["bob", "alice", "eugene"]
     )
d2

        birthyear  weight height
bob        1984.0    83.0    NaN
alice      1985.0    68.0    NaN
eugene        NaN     NaN    NaN

Otra forma conveniente de crear un `DataFrame` es pasar todos los valores al constructor como un `ndarray`, o una lista de listas, y especificar los nombres de columna y las etiquetas de índice de fila por separado:

In [57]:
import numpy as np

In [ ]:
values = np.array([
            [1985, np.nan, "Biking",   68],
            [1984, 3,      "Dancing",  83],
            [1992, 0,      np.nan,    112]
         ]) 
d3 = pd.DataFrame(
        values,
        columns=["birthyear", "children", "hobby", "weight"],
        index=["alice", "bob", "charles"]
     )
d3

Observe que para especificar los valores que faltan, se puede usar `np.nan`.

En lugar de un ndarray, también puedes pasar un objeto `DataFrame`:

In [ ]:
d4 = pd.DataFrame(
         d3,
         columns=["hobby", "children"],
         index=["alice", "bob"]
     )
d4

También es posible crear un `DataFrame` con un diccionario (o lista) de diccionarios (o lista):

In [ ]:
people = pd.DataFrame({
    "birthyear": {"alice":1985, "bob": 1984, "charles": 1992},
    "hobby": {"alice":"Biking", "bob": "Dancing"},
    "weight": {"alice":68, "bob": 83, "charles": 112},
    "children": {"bob": 3, "charles": 0}
})
people

## Acceso a filas

Volvamos al `DataFrame` `people`:

In [ ]:
people

El atributo `loc` le permite acceder a las filas en lugar de a las columnas.

El resultado es un objeto `Serie` en el que los nombres de columna de `DataFrame` se asignan a etiquetas de índice de fila:

In [ ]:
people.loc["charles"]

In [ ]:
people.loc[["charles"]]

También puede acceder a las filas por ubicación de enteros utilizando el atributo `iloc`:

In [ ]:
people.iloc[2]

También puede obtener una porción de filas, y esto devuelve un objeto `DataFrame`:

In [ ]:
people.iloc[1:3]

Finalmente, puede pasar una matriz booleana para obtener las filas coincidentes:

In [ ]:
people[np.array([True, False, True])]

Esto es más útil cuando se combina con expresiones booleanas:

In [ ]:
people[people["birthyear"] < 1990]

## Adición y eliminación de columnas

In [ ]:
people

In [ ]:
people["age"] = 2022 - people["birthyear"]  # adds a new column "age"

In [ ]:
people

In [ ]:
people["over 30"] = people["age"] > 30      # adds another column "over 30"

In [ ]:
people

In [ ]:
birthyears = people.pop("birthyear")

In [ ]:
birthyears

In [ ]:
del people["children"]

In [ ]:
people

Cuando agrega una nueva columna, debe tener el mismo número de filas. Las filas que faltan se rellenan con `NaN` y las filas adicionales se ignoran:

In [ ]:
people["pets"] = pd.Series({"bob": 0, "charles": 5, "eugene":1})  # alice is missing, eugene is ignored
people

Al agregar una nueva columna, se agrega al final (a la derecha) de forma predeterminada.

También puedes insertar una columna en cualquier otro lugar usando el método `insert()`:

In [ ]:
people.insert(1, "height", [172, 181, 185])
people

## Asignación de nuevas columnas

También puede crear nuevas columnas llamando al método `assign()`.

Tenga en cuenta que esto devuelve un nuevo objeto `DataFrame`, el original no se modifica:

In [ ]:
people.assign(
    body_mass_index = people["weight"] / (people["height"] / 100) ** 2,
    has_pets = people["pets"] > 0
)

Tenga en cuenta que no puede acceder a las columnas creadas dentro de la misma tarea:

In [ ]:
try:
    people.assign(
        body_mass_index = people["weight"] / (people["height"] / 100) ** 2,
        overweight = people["body_mass_index"] > 25
    )
except KeyError as e:
    print("Key error:", e)

La solución es dividir esta asignación en dos asignaciones consecutivas:

In [59]:
d6 = people.assign(body_mass_index = people["weight"] / (people["estatura"] / 100) ** 2)

KeyError: 'estatura'

In [ ]:
d6.assign(overweight = d6["body_mass_index"] > 25)

Tener que crear una variable temporal `d6` no es muy conveniente.

Es posible que desee simplemente encadenar las llamadas de asignación, pero no funciona porque el objeto `people` en realidad no se modifica con la primera asignación:

In [60]:
try:
    (people
         .assign(body_mass_index = people["weight"] / (people["weight"] / 100) ** 2)
         .assign(overweight = people["body_mass_index"] > 25)
    )
except KeyError as e:
    print("Key error:", e)

Key error: 'body_mass_index'

Pero no temas, hay una solución simple. Puede pasar una función al método `asign()` (normalmente una función lambda), y esta función se llamará con el marco de datos como parámetro:

In [ ]:
(people
     .assign(body_mass_index = lambda df: df["weight"] / (df["height"] / 100) ** 2)
     .assign(overweight = lambda df: df["body_mass_index"] > 25)
)

## Evaluar una expresión

Una gran característica compatible con pandas es la evaluación de expresiones. Esto se basa en la biblioteca numexpr que debe estar instalada.

In [ ]:
people.eval("weight / (height/100) ** 2 > 25")

También se admiten expresiones de asignación. Configuremos `inplace=True` para modificar directamente el `DataFrame` en lugar de obtener una copia modificada:

In [ ]:
people.eval("body_mass_index = weight / (height/100) ** 2", inplace=True)
people

Puede usar una variable local o global en una expresión prefijándola con `@`:

In [61]:
umbral_sobre_peso = 30
personas.eval("sobre_peso = indice_masa_corporal > @umbral_sobre_peso", inplace=True)

personas

NameError: name 'personas' is not defined

## Querying a DataFrame (Consultar en el DataFrame)

El método `query()` le permite filtrar un `DataFrame` basado en una expresión de consulta:

In [ ]:
people.query("age > 30 and pets == 0")

## Ordenar un DataFrame

Puede ordenar un DataFrame llamando a su método `sort_index`. Por defecto, ordena las filas por su etiqueta de índice, en orden ascendente, pero invirtamos el orden:

In [ ]:
people.sort_index(ascending=True)

## Taller de clase o tarea

Se lanzan al aire dos dados y se suman sus puntos obtenidos. Halla la probabilidad de que la suma:  

a) Sea 4.  
b) No sea 7.  
c) Sea mayor que 7.  
d) Sea menor que 5.  
e) Sea 6 o 9.  
f) Esté entre 2 y 6.

## Solución

1. Empecemos construyendo un DataFrame con todos los posibles resultados de este experimento aleatorio: 
2. Agregue una columna de la variable aleatoria.
3. Cree una columna de booleanos que indique los casos favorables.

In [69]:
import numpy as np 
import pandas as pd 

dado1 = np.array([])
for i in range(1,7):
    dado1 = np.hstack((dado1,i*np.ones(6)))
    
dado1

array([1., 1., 1., 1., 1., 1., 2., 2., 2., 2., 2., 2., 3., 3., 3., 3., 3.,
       3., 4., 4., 4., 4., 4., 4., 5., 5., 5., 5., 5., 5., 6., 6., 6., 6.,
       6., 6.])

In [70]:
dado2 = np.array([])
for i in range(1,7):
    dado2 = np.hstack((dado2,*np.arange(1,7)))
    
dado2

array([1., 2., 3., 4., 5., 6., 1., 2., 3., 4., 5., 6., 1., 2., 3., 4., 5.,
       6., 1., 2., 3., 4., 5., 6., 1., 2., 3., 4., 5., 6., 1., 2., 3., 4.,
       5., 6.])

In [71]:
dic = {'dado1':dado1,'dado2':dado2} 
resultados = pd.DataFrame(dic, index = np.arange(1,len(dado1)+1)) 
resultados.head()

   dado1  dado2
1    1.0    1.0
2    1.0    2.0
3    1.0    3.0
4    1.0    4.0
5    1.0    5.0

In [73]:
len(resultados)   # número de instancias del DataFrame

36

In [75]:
resultados['suma'] = resultados['dado1'] + resultados['dado2'] 
resultados.head()

   dado1  dado2  suma
1    1.0    1.0   2.0
2    1.0    2.0   3.0
3    1.0    3.0   4.0
4    1.0    4.0   5.0
5    1.0    5.0   6.0

In [76]:
resultados['suma_es_4'] = resultados.suma == 4
resultados.head()

   dado1  dado2  suma  suma_es_4
1    1.0    1.0   2.0      False
2    1.0    2.0   3.0      False
3    1.0    3.0   4.0       True
4    1.0    4.0   5.0      False
5    1.0    5.0   6.0      False

In [77]:
probabilidad_suma_es_4 = resultados.suma_es_4.sum()/len(resultados)
probabilidad_suma_es_4

0.08333333333333333

Por lo tanto, la probabilidad de que al lanzar dos dados la suma de los resultados sea 4 es del 8.3 porciento.

## Referentes

* Pandas según Géron: https://github.com/ageron/handson-ml/blob/master/tools_pandas.ipynb 

* `DataFrame.pop(elemento)`: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pop.html

In [65]:
import numpy as np 
A = np.array([[1,3],[2,4]])
A

array([[1, 3],
       [2, 4]])

In [66]:
B = A.T - A

In [67]:
B.all()

False