<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/marco-canas/intro-Machine-Learning/blob/main/classes/class_16_end_to_end_1/class_16_end_to_end_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
</table>

# Una forma de construcción de un DataFrame

## [Video de apoyo]()

Cree una función de Python que:  

1. le ingrese un parámetro $n$ que represente el orden de una matriz cuadrada a construir. 

2. Tal matriz cuadrada de orden $n \times n$  sea de entradas enteras aleatorias con valores en intervalo $0,1,\ldots 9$. 

3. Construir una DataFrame con la matriz anterior y con uno nombres para las columnas que sean: $C_{1}, C_{2}, \ldots, C_{n}$ y lo indices de fila serán números enteros empezando en 1.

## Solución:

In [1]:
import numpy as np 
import pandas as pd

In [2]:
def constructora_DataFrame(n):
    M = np.random.randint(0,9, size = (n,n)) 
    columnas = []
    for j in range(n):
        columnas.append('C'+str(j+1))
    indices = np.arange(1,n+1)    
    df = pd.DataFrame(M, columns = columnas, index = indices) 
    return df

In [6]:
df = constructora_DataFrame(4)

In [10]:
df

   C1  C2  C3  C4
1   4   0   3   5
2   5   7   4   8
3   3   6   3   0
4   0   7   8   1

# Tarea 2 

Construya una función que tome un dataframe y entregue las filas que contengan algún 1 en sus entradas.

In [8]:
def filas_con_unos(df):
    lista_filas_unos = []
    for i in range(len(df)):
        booleano = df.iloc[i]==1
        suma = sum(booleano)
        if suma > 0:
            lista_filas_unos.append(i)
    df_unos = df.iloc[lista_filas_unos]        
    return df_unos

In [9]:
filas_con_unos(df)

   C1  C2  C3  C4
4   0   7   8   1