<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/marco-canas/taca/blob/main/ref/geron/chap_2/5_prepare_for_algorithms/2_data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
  <td>
    <a target="_blank" href="https://kaggle.com/kernels/welcome?src=https://github.com/marco-canas/taca/blob/main/ref/geron/chap_2/5_prepare_for_algorithms/2_data_cleaning.ipynb"><img src="https://kaggle.com/static/images/open-in-kaggle.svg" /></a>
  </td>
</table>

## Ejercicio 9 del taller 1 sobre construcción de funciones en Python

9. Construya una función que calcule el número promedio de pulsaciones que debe tener una persona por cada diez segundos de ejercicio aeróbico:

* Para sexo femenino, núm prom de pul = (220 - edad)/10  
* Para sexo masculino, núm prom de pul = (210 - edad)/10

## Solución:

# Visualización del grupo de Introducción al Machine Learning

In [18]:
import pandas as pd

grupo_ml = pd.read_csv('grupo_intro_ml.csv', sep = '\t') 

grupo_ml.head()

,#,Cédula,Nombre,Email,Sede
0,1,1193092675,ALVAREZ CARRERO GERMAN JOSE,german.alvarez1@udea.edu.co,NaN
1,2,1152715251,AMAYA ESCOBAR LILLEY DANIELA,lilley.amaya1@udea.edu.co,NaN
2,3,1152204969,ARANGO JARAMILLO JUAN JOSE,juan.arangoj@udea.edu.co,NaN
3,4,1037657637,BOLIVAR HIGUITA JUAN PABLO,jpablo.bolivar@udea.edu.co,NaN
4,5,1146437759,BUITRAGO LORA VANESSA,vanessa.buitragol@udea.edu.co,NaN

## Llamada aleatoria para participar en clase

In [19]:
import pandas as pd

grupo_ml = pd.read_csv('grupo_intro_ml.csv', sep = '\t')

lista_estudiantes = list(grupo_ml.Nombre.values)

from random import randint, choice

def seleccion_aleatoria():
    if lista_estudiantes == []:
        print('ya participaron todos los estudiantes') 
    else:
        while lista_estudiantes != []:
            student = choice(lista_estudiantes)
            lista_estudiantes.remove(student)
            return print(student)

In [46]:
seleccion_aleatoria()

ya participaron todos los estudiantes