<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/marco-canas/introducci-n-al-Machine-Learning/blob/main/classes/class_1/class_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
</table>

# Quiz 2 Python, Numpy, Pandas

## Punto 1 Python

## Punto 2 NumPy

Defina la función `matrizVandermonde()` que tenga como argumentos un array o vector $x = (x_{0}, x_{1}, \ldots, x_{m−1})$ y un entero positivo $d$ y que retorne la matriz $V = [v_{ij} ]_{m\times(d+1)}$ de tal manera que $v_{ij} = x_{i}^{j}$ para $0 \leq i \leq m − 1$ y $0 \leq j \leq d$.

In [135]:
import numpy as np

In [136]:
def matrizVandermonde(d, x):
    m = len(x)
    V = np.zeros((m,d+1))
    for i in range(m):
        for j in range(d+1):
            V[i,j]=x[i]**j
    return V

In [138]:
d = 4
x = np.array([1,2,3,4,5])
matrizVandermonde(d,x)

array([[  1.,   1.,   1.,   1.,   1.],
       [  1.,   2.,   4.,   8.,  16.],
       [  1.,   3.,   9.,  27.,  81.],
       [  1.,   4.,  16.,  64., 256.],
       [  1.,   5.,  25., 125., 625.]])

## Punto 3 Pandas

1. Con la matriz de Vandermonde obtenida para $d = 4$ y $x = (1,2,3,4,5)$ construya un DataFrame cuyas columndas sean denotadas con $C_{0}, C_{1}, C_{2}, C_{3}, C_{4}$ y cuyos indices sean las cadenas de caracteres $I_{1}, I_{2}, I_{3}, I_{4}, I_{5}$.

2. Agregue una columna con numbre `Suma`, que sea la suma de las columnas $C_{0}, C_{1}, C_{2}, \ldots, C_{d}$.

3. Filtre las filas de indice $I_{2}, I_{5}$.

In [139]:
import pandas as pd

In [157]:
# ITEM No.1
indices = []
columnas = []
m=len(matrizVandermonde(d,x))
for i in range(m):
        indices.append("I"+str(i+1))
        columnas.append("C"+str(i))
df = pd.DataFrame(matrizVandermonde(d,x), index = indices, columns = columnas)
df

     C0   C1    C2     C3     C4
I1  1.0  1.0   1.0    1.0    1.0
I2  1.0  2.0   4.0    8.0   16.0
I3  1.0  3.0   9.0   27.0   81.0
I4  1.0  4.0  16.0   64.0  256.0
I5  1.0  5.0  25.0  125.0  625.0

In [158]:
# ITEM No.2
df["Suma"] = df.sum(axis = 1)
df

     C0   C1    C2     C3     C4   Suma
I1  1.0  1.0   1.0    1.0    1.0    5.0
I2  1.0  2.0   4.0    8.0   16.0   31.0
I3  1.0  3.0   9.0   27.0   81.0  121.0
I4  1.0  4.0  16.0   64.0  256.0  341.0
I5  1.0  5.0  25.0  125.0  625.0  781.0

In [169]:
# ITEM No.3
df_filtrado = df.loc[["I2","I5"]]
df_filtrado

     C0   C1    C2     C3     C4   Suma
I2  1.0  2.0   4.0    8.0   16.0   31.0
I5  1.0  5.0  25.0  125.0  625.0  781.0