# Quiz 2 Python, Numpy, Pandas

### Punto 1 Python

### Punto 2 NumPy

### Punto Pandas

Filtar información para la que la columna A tiene valores mayores a 0.5

In [6]:
import numpy as np
import pandas as pd 

fechas = pd.date_range(start = '11/2/2022', periods = 6) # Definir series de tiempo como índice
num_arr = np.random.randn(6, 4) # Pasar en una matriz aleatoria numpy
columnas = ['A', 'B', 'C', 'D'] # Use la lista como nombres de columna
df = pd.DataFrame(num_arr, index=fechas, columns=columnas)
df

                   A         B         C         D
2022-11-02  0.456860  0.613778 -0.759654 -1.253118
2022-11-03 -0.835983  0.239892  1.891466 -1.291317
2022-11-04 -0.500152  0.024677 -0.994742 -0.407477
2022-11-05 -0.235544  1.150938 -0.437228  1.142368
2022-11-06  1.009205 -0.652628 -1.638493  0.592866
2022-11-07 -2.281463  0.973666 -0.140357 -1.566784