<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/marco-canas/intro-Machine-Learning/blob/main/classes/class_16_end_to_end_1/class_16_end_to_end_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
</table>

# Quiz 2 Python, Numpy, Pandas

Nombre del Estudiante:

### Punto 1 Python

### Punto 2 Numpy

### Punto 3 Pandas

1. Cree una matriz cuadrada de orden $n$ de entradas enteras aleatorias de números entre 0 y 9 inclusive. 
2. Cree un DataFrame con esta matriz, y cuyas columnas sean nombradas como $C_{1}, C_{2}, \ldots, C_{n}$ y cuyos índices empiecen en 1. 
3. Filtre del DataFrame las filas que tengan un 1 como valor.

In [23]:
import numpy as np 
import pandas as pd 

np.random.seed(42)
M = np.random.randint(0,9, size = (4,4)) 
M

array([[6, 3, 7, 4],
       [6, 2, 6, 7],
       [4, 3, 7, 7],
       [2, 5, 4, 1]])

In [25]:
df = pd.DataFrame(M, columns = ['C1', 'C2', 'C3', 'C4'], index = np.arange(1,5))

In [26]:
df

   C1  C2  C3  C4
1   6   3   7   4
2   6   2   6   7
3   4   3   7   7
4   2   5   4   1

In [27]:
indices_de_filas_donde_hay_unos = []

In [28]:
for i in range(len(df)):
    if sum(df.iloc[i]==1)>0:
        indices_de_filas_donde_hay_unos.append(i)
df.iloc[indices_de_filas_donde_hay_unos]

   C1  C2  C3  C4
4   2   5   4   1