# Quiz 2 Python, Numpy, Pandas

## Punto 1 Python

Crear una función que sea capaz de determinar con base en el valor de los lados, el tipo de triángulo que es y 
calcular su perímetro. (Este ejercicio lo realiza siguiente el criterio de clasificación de la longitud de los lados).

In [1]:
def clasifica_perimetro(a,b,c):
    pass

## Punto 2 Numpy

Defina una función `filasIndependientes()` que reciba como argumento un arreglo X (2D) y retorne True si las filas de X son linelamente independiente

In [3]:
import numpy as np 
A = np.array([[1,2,3],[4,5,6]])  
np.linalg.matrix_rank(A)

2

## Punto 3 Pandas

In [6]:
import pandas as pd 
titulos = pd.read_csv('titulos.csv' )
titulos.head()

                                   title  year
0                                 Mahler  1974
1           Ogon, voda i... mednye truby  1968
2  Ana Nojoom bent alasherah wamotalagah  2014
3                      Malu de Bicicleta  2010
4             Nazareno Apostol: Boy Ahas  1989

* ¿Cuántas peliculas estan listadas en el dataframe de titulos?  (describa verbalmente el procedimiento que aplicó para responder cada pregunta).
* ¿Cuales son las cinco peliculas mas antiguas listadas en titulos?
* ¿Cuántas peliculas estan listadas por el nombre "Hamlet" ?  
* ¿Cuántas peliculas fueron hechas en el año 1950?